* {
  box-sizing: border-box;
}

@font-face {
  font-family: hkgrotesk;
  src: url('../fonts/HKGrotesk-Regular.otf');
}

@font-face {
  font-family: hkgrotesk;
  src: url('../fonts/HKGrotesk-Bold.otf');
  font-weight: bold;
}

html, div,p,h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}


body {
  font-family: hkgrotesk, sans-serif;
  font-size: .9em;
  background-color: rgb(233, 233, 233);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  
}

.iubenda-logo {
  background-image: url('../images/iubenda-logo.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15%;
  height: 100px;
  width: 100%;
}
.wrapper {
  width: 95%;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 3px;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em;
  border-bottom: 1px solid #e9e9e9;
  
  .screen-button {
    background-color:#ccc;
  }
  
  .domain-info {
    display: flex;
    gap: .5em;
    
    a {
      color: black;
      text-decoration: none;
      font-size: .9em;
      font-weight: bold;
    }
    
    .info {
      font-size: 0.75em;
    }
  }
  
 
  .compliance-rating {
    position: relative;
    display: flex;
    align-items: center;
    gap: .8em;    
    .message {

    }
     
  }
}


main {
  margin-top: .5em 0;
  padding: 2em;
}

// form hidden message after submission

.form-message {
  width: 100%;
  font-size: 0.7em;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: flex;
  gap: 1em;
  align-items: center;
  
  .icon {
    padding: 1.5em 0;
    width: 8%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    background-color: #eefcfa;
  }
  
  .close {
    background-color:hsl(0, 0%, 80%);
    color: #fff;
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-self: start;
    margin-left: auto;
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 50%;
    width: 1.4em;
    height: 1.4em;
  }  
}

.success {
  color: #1CC691;
}

.join {
  display: flex;
  gap: 3em;

  img {
    width: 90%;
  }
  
  .theme-item {
    width: 100px;
    text-align: center;
    font-size: 0.7em;
    color: #7a7a7a;
    
    span {
      line-height: 18px;
    }
  }  
  
  .dark, .light {
    overflow: hidden;
    width: 100%;
    height: 52px;
    
    img {
      height: 95%;
      margin-top: .3em;
      margin-left: 1em;
    }
  }

  .add-button {
    display: grid;
    align-content: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    height: 52px;
  }  
}

.selected {
  border: 1px solid #1CC691;
  color: #1CC691;
  font-weight: bold;
  text-shadow: 0 0 2px 1px #56fdc8;
  border-radius: 3px; 
  box-shadow: 0 0 2px 1px #56fdc8;
}

.unselected {
  border-radius: 3px;
  border: 1px solid #979797;
  
}

.legislation-item {
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 0.7em;
  width: 100px;
  height: 34px;
}

.consent-item {
  display: flex;
  align-items: center;
  font-size: 0.7em;
  width: 100px;
  height: 34px;
}

.checkbox {
  margin-bottom: 1em;
  label {
    display: flex;
    align-items: center;
    gap: .3em;
    font-size: .6em;
  }
}

.warning-group {
  display: flex;
  align-items: center;
  width: 45%;
  margin-left: 1.2em;
  padding: .6em;
  font-size: .6em;
  color: hsl(27, 75%, 62%);
  background-color: hsl(27, 100%, 96%);
  gap: .3em;

  .warning-icon {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid hsl(27, 75%, 62%);
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
  .warning-message {
    margin-left: .4em;
  }
}

.button-style-item {
  width: 18%;
  text-align: center;
  
  span {
    font-size: .6em;
  }
   
  .dark, 
  .light {
    overflow: hidden;
    width: 100%;
    height: 50px;
    
    img {
      height: 60%;
      margin-left: .8em;
      margin-top: .7em;
    }
  }    
}

.button-position {
  font-size: 0.7em;

  label {
    display: flex;
    align-items: center;
  }
}

footer {
  width: 100%;
  border-top: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;

  .reset {
    background-color: transparent;
    border: none;
    font-size: 0.7em;
    font-weight: bold;
    color: #979797;
  }
  .integrate {
    background-color: #1CC691;
    border: none;
    border-radius: 50px 50px;
    width: 35%;
    padding: 1em 0;
    color: #fff;
    font-size: .7em;
  }

}

.underfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  padding: 2em 0;
  margin-bottom: 1em;
  font-size: 0.7em;

  a {
    text-decoration: none;
    color: #000;
    font-weight: bold;

    &:hover {
      color: #7a7a7a;
    }
  }
}


// Slide switches
.switch-label {
  margin-top: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
.switch {
  position: relative;
  display: inline-block;
  margin-right: .5em;
  top: 2px;
  width: 37px;
  height: 18px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #1CC691;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #1CC691;
    }

    &:checked + .slider::before {
      -webkit-transform: translateX(19px);
      -ms-transform: translateX(19px);
      transform: translateX(19px);
    }
  }

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;

  &::before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.round {
  border-radius: 34px;

  &::before {
    border-radius: 50%;
  }
}



// containers
.switch-section {
  margin-top: 2em;
}

.container {
  margin-top: 0.3em;
  
}
.flex {
  display: flex;
  gap: .6em;
}

h4 {
  margin-top: 2.2em;
  font-size: .7em;
  color: #7a7a7a;
}

@media (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }
  .wrapper {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 900px) {
  .wrapper {
    width: 80%;
    margin-top: 2em;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 60%;
  }
}